{% extends 'layouts/baseLayout.html' %}

{% block content %}
    <div class="col-9 left-container container">
        <div class="row one-question">
            <div class="col-2 d-flex flex-column align-items-center">
                <img class="one-question-avatar" src="../static/img/AvatarImg.svg" alt="ProfileImg">
                <div class="container question-rating-container">
                    <div class="row question-rating d-flex justify-content-center">
                        5
                    </div>
                    <div class="row">
                        <button type="button" class="col-6 p-0 question-left-button">
                            <span class="question-button-sign">+</span>
                        </button>
                        <button type="button" class="col-6 p-0 question-right-button">
                            <span class="question-button-sign">-</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <h2 id="one-question-howto">How to make a new activity?</h2>
                <div class="one-question-text">
                    I think naturally do it is straightforward, whether Intellij IDEA or Android Studio, I
                    always click new Java class menu, and then typing the class name, press Enter to create.
                    after that, I'm manually typing "extends Activity" in the class file, and then import
                    the
                    class by shortcut key. finally, I also manually override the onCreate() method and
                    invoke the setContentView() method.
                </div>
                <div class="one-question-tags">
                    <span class="one-question-tags-header">Tags:</span>
                    <button type="button" class="tag">
                        Android_Studio
                    </button>
                    <button type="button" class="tag" style="color: green">
                        Activity
                    </button>
                </div>
            </div>
        </div>
        <hr class="one-question-sep">
        <div class="one-question-answers">
            <div class="container question-and-answer">
                <div class="row">
                    <div class="col-1">
                        <img class="avatar" src="../static/img/AvatarImg.svg" alt="ProfileImg">
                        <div class="container question-rating-container">
                            <div class="row question-rating d-flex justify-content-center">
                                5
                            </div>
                            <div class="row">
                                <button type="button" class="col-6 p-0 question-left-button">
                                    <span class="question-button-sign">+</span>
                                </button>
                                <button type="button" class="col-6 p-0 question-right-button">
                                    <span class="question-button-sign">-</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="answer-text">
                            I think natually do it is straightforward, whether Intellij IDEA or Android Studio,
                            I
                            always click new Java class menu, and then typing the class name, press Enter to
                            create.
                            after that, I'm manually typing "extends Activity" in the class file, and then
                            import
                            the
                            class by shortcut key. finally, I also manually override the onCreate() method and
                            invoke the setContentView() method.
                        </div>
                        <label class="correct-checkbox">
                            <input type="checkbox" class="one-question-answer-correct" name="Correct!"/>
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
            <div class="container question-and-answer">
                <div class="row">
                    <div class="col-1">
                        <img class="avatar" src="../static/img/AvatarImg.svg" alt="ProfileImg">
                        <div class="container question-rating-container">
                            <div class="row question-rating d-flex justify-content-center">
                                5
                            </div>
                            <div class="row">
                                <button type="button" class="col-6 p-0 question-left-button">
                                    <span class="question-button-sign">+</span>
                                </button>
                                <button type="button" class="col-6 p-0 question-right-button">
                                    <span class="question-button-sign">-</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="answer-text">
                            I think natually do it is straightforward, whether Intellij IDEA or Android Studio,
                            I
                            always click new Java class menu, and then typing the class name, press Enter to
                            create.
                            after that, I'm manually typing "extends Activity" in the class file, and then
                            import
                            the
                            class by shortcut key. finally, I also manually override the onCreate() method and
                            invoke the setContentView() method.
                        </div>
                        <label class="correct-checkbox">
                            <input type="checkbox" class="one-question-answer-correct" name="Correct!"/>
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
            <div class="container question-and-answer">
                <div class="row">
                    <div class="col-1">
                        <img class="avatar" src="../static/img/AvatarImg.svg" alt="ProfileImg">
                        <div class="container question-rating-container">
                            <div class="row question-rating d-flex justify-content-center">
                                5
                            </div>
                            <div class="row">
                                <button type="button" class="col-6 p-0 question-left-button">
                                    <span class="question-button-sign">+</span>
                                </button>
                                <button type="button" class="col-6 p-0 question-right-button">
                                    <span class="question-button-sign">-</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="answer-text">
                            I think natually do it is straightforward, whether Intellij IDEA or Android Studio,
                            I
                            always click new Java class menu, and then typing the class name, press Enter to
                            create.
                            after that, I'm manually typing "extends Activity" in the class file, and then
                            import
                            the
                            class by shortcut key. finally, I also manually override the onCreate() method and
                            invoke the setContentView() method.
                        </div>
                        <label class="correct-checkbox">
                            <input type="checkbox" class="one-question-answer-correct" name="Correct!"/>
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr class="one-question-sep">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img class="answer-avatar" src="../static/img/AvatarImg.svg" alt="ProfileImg">
                </div>
                <label class="col-9 p-0 pe-3">
                    <textarea class="your-answer" placeholder="Your answer:..."></textarea>
                </label>
                <div class="col-2 p-0">
                    <button href="" type="button" class="answer-button">Answer!</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
