<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/img/androidLogo.svg">
    <title>Settings</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand bg-dark">
        <div class="container">
            <div class="row col-3">
                <div class="col-12">
                    <img src="../static/img/androidLogo.svg" class="logo-image" alt="logo">
                    <a href="" class="navbar-brand logotext navtext">
                        <span class="ask-logotext">Ask<span style="color:rgb(164, 198, 57)">Android</span></span>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse col-6 me-3">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn ms-2 btn-outline-success">ASK!</button>
            </div>
            <div class="col-3 ms-3 row">
                <a href="" class="col-4 navbar-login">Log in</a>
                <button href="" type="button" class="col-4 navbar-register-button"><span class="navbar-register-text">Register!</span>
                </button>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 left-container">
                <div class="d-flex justify-content-between mb-2">
                    <h1 href="" id="new-question-label">
                        Settings
                    </h1>
                </div>
                <div class="container-fluid new-question">
                    <div class="row">
                        <div class="col-3 col-3-width">
                            <label class="settings-section" for="nickname-form">
                                Nick
                            </label>
                        </div>
                        <div class="col-6">
                            <input id="nickname-form" class="form-control settings-input-form" type="text"
                                   placeholder="Nickname"
                                   aria-label="Title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-3-width">
                            <label for="email-reg" class="settings-section">
                                E-mail
                            </label>
                        </div>
                        <div class="col-6">
                            <input id="email-reg" class="form-control settings-input-form" type="text"
                                   placeholder="E-mail"
                                   aria-label="Title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-3-width">
                            <label class="settings-section"><span class="new-question-name">Avatar</span>
                            </label>
                        </div>
                        <div class="col-6 d-inline-flex">
                            <input class="form-control settings-input-form" type="text" placeholder="C:\..."
                                   aria-label="Tags">
                            <button class="choose-button">
                                <span class="choose-button-text">Choose</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-3 col-3-width"></div>
                            <div class="col-6">
                                <div>
                                    <img class="settings-avatar" src="../static/img/AvatarImg.svg" alt="New avatar">
                                </div>
                                <div class="d-flex justify-content-start">
                                    <button class="settings-save-button"><span
                                            class="choose-button-text">Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 p-0">
                <h2 class="right-header">Popular Tags</h2>
                <div class="container-fluid tag-container">
                    <button type="button" class="tag">
                        Android_Studio
                    </button>
                    <button type="button" class="tag" style="color: darkviolet">
                        Kotlin
                    </button>
                    <button type="button" class="tag" style="color: Blue">
                        Python
                    </button>
                    <button type="button" class="tag" style="color: darkred">
                        Java
                    </button>
                    <button type="button" class="tag" style="color: darkviolet">
                        Kotlin_Coroutines
                    </button>
                    <button type="button" class="tag" style="color: Blue">
                        scrcpy
                    </button>
                    <button type="button" class="tag" style="color: Green">
                        adb
                    </button>
                    <button type="button" class="tag">
                        Android_Studio
                    </button>
                    <button type="button" class="tag" style="color: green">
                        Activity
                    </button>
                    <button type="button" class="tag" style="color: darkviolet">
                        Kotlin_Coroutines
                    </button>
                    <button type="button" class="tag" style="color: darkred">
                        JDK
                    </button>
                </div>
                <h2 class="right-header">Best Members</h2>
                <div class="container-fluid">
                    <ul>
                        <li class="best-member">
                            <a href="">Mike Wazowski</a>
                        </li>
                        <li class="best-member">
                            <a href="">Andrew Tanenbaum</a>
                        </li>
                        <li class="best-member">
                            <a href="">Steve Jobs</a>
                        </li>
                        <li class="best-member">
                            <a href="">Billy Herrington</a>
                        </li>
                        <li class="best-member">
                            <a href="">Nikita Romanov</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<footer class="bg-dark text-white">
    <div class="container-fluid">
        <div class="col-8 d-inline-flex justify-content-end">
            <span style="font-size: 20px" class="d-flex align-items-center">Subscribe for our newsletter</span>
            <form action="#" class="m-3 d-flex">
                <input class="form-control subscribe-email-form me-2" type="email" placeholder="email"
                       aria-label="email">
                <button type="button" class="subscribe-button">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="text-center p-3 footer-created">
        <span class="footer-created-text">© 2023 Created by Saifutdinov Timur</span>
    </div>
</footer>
</body>
</html>