{% extends 'layouts/baseLayout.html' %}
{% load static %}


{% block content %}
<div class="col-9 ps-5 left-container left-questions">
    <div class="d-flex justify-content-between mb-2">
        <h1 href="" id="QuestionsLabel">
            Tag:
            <button type="button" class="tag tag-header">
                {{ tag }}
            </button>
        </h1>
    </div>
    {% for question in questions %}
        {% include 'components/index-question-item.html' %}
    {% endfor %}
    {% if questions.has_other_pages %}
    {% include 'components/paginator.html' %}
    {% endif %}
</div>
{% endblock %}
